body{
    background-image: url(https://cdn.dribbble.com/users/4499783/screenshots/9247183/media/19f0f41f75d42e7b03c22deee1d71cba.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#form{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.44);
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;
    padding-bottom: 20px;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
